/* Chat.css */
.chat-container {
  display: flex;
  height: 80vh;
  align-items: stretch;
  overflow: hidden;
  font-family: Arial, sans-serif;
  margin-top: 80px;
}

.receiver-list {
  flex: 1;
  background-color: #f0f0f0;
  overflow-y: auto;
}

.receiver {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.receiver:hover {
  background-color: #e0e0e0;
}

.receiver.selected {
  background-color: #ccc;
}

.user-chat {
  flex: 2;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.user-chat-item {
  padding: 5px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  animation: fadeIn 0.3s ease;
}

.user-chat-item.sender {
  justify-content: flex-end;
}

.user-chat-item.receiver {
  justify-content: flex-start;
}

.user-chat-item.sender .message-content {
  background-color: #4CAF50;
  color: white;
  border-radius: 8px;
  padding: 8px 12px;
  max-width: 70%;
}

.user-chat-item.receiver .message-content {
  background-color: #e0e0e0;
  color: black;
  border-radius: 8px;
  padding: 8px 12px;
  max-width: 70%;
}
/* Chat.css */
.message-input {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.message-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.message-input button {
  margin-left: 10px;
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.message-input button:hover {
  background-color: #45a049;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

  
  