/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 

}
  
  .logo {
    font-size: 24px;
    cursor: pointer;
  }
  
  .auth-buttons {
    display: flex;
  }
  
  .auth-button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .auth-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  