.comment-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fade-in 0.3s ease-in-out;
}

.comment-popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  max-width: 50%;
  max-height: 60vh; 
  overflow-y: auto; 
  animation: slide-up 0.3s ease-in-out;
}
.comment-popup-content ul {
  list-style: none;
}
.close-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 10px;
}

.close-button:hover {
  background-color: #555;
}

.comment-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.comment-content {
  font-size: 16px;
}

.comment-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.comment-actions button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease-in-out;
}

.comment-actions button:hover {
  background-color: #0056b3;
}

.comment-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.user-profile-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-profile {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.user-profile p {
  margin: 0;
  font-weight: bold;
}

.comment {
  font-size: 16px;
  margin: 10px 0;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.comment:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-name {
  font-weight: bold;
  margin: 0;
}

.user-name.my-comment {
  color: #6a1b9a; 
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}

  
  
  